# Module 5 Exercises - Time Series

### Exercise 1:

Create a numPy datetime variable with today's date. Then create 7 consectuive days (1 week) starting from the variable with today's date.

In [18]:
import pandas as pd
import numpy as np
import seaborn; seaborn.set()
import matplotlib.pyplot as plt

from datetime import datetime

%matplotlib inline

### Exercise 2:

Create a pandas datetime index with the dates 2016-02-11, 2016-07-01, 2016-07-09, 2016-10-08, 2017-02-18, 2017-02-25, 2017-05-02, 2017-08-26, 2017-12-15, and 2018-02-11. Then create a pandas Series with the values 0,1,2,3,4,5,6,7,8, and 9 in a list, with the dates as the index. Get the rows from the year 2017.

In [19]:
index = pd.DatetimeIndex(['2016-02-11', '2016-07-01', '2016-07-09', '2016-10-08', '2017-02-18', '2017-02-25', '2017-05-02', '2017-08-26', '2017-12-15', '2018-02-11'])

data = pd.Series([0,1,2,3,4,5,6,7,8,9], index=index) 
data

2016-02-11    0
2016-07-01    1
2016-07-09    2
2016-10-08    3
2017-02-18    4
2017-02-25    5
2017-05-02    6
2017-08-26    7
2017-12-15    8
2018-02-11    9
dtype: int64

In [20]:
data['2017']

2017-02-18    4
2017-02-25    5
2017-05-02    6
2017-08-26    7
2017-12-15    8
dtype: int64

### Exercise 3:

Convert the following date formats into pandas datetime:

- datetime(2017, 12, 15)
- 8th of October 2016
- 20180211
- 2017-02-25
- 2019-Jan-16

In [21]:
dates = pd.to_datetime([datetime(2017, 12, 15), '8th of October 2016', '20180211', '2017-02-25', '2019-Jan-16'])
dates

DatetimeIndex(['2017-12-15', '2016-10-08', '2018-02-11', '2017-02-25',
               '2019-01-16'],
              dtype='datetime64[ns]', freq=None)

### Exercise 4:

Using the pandas library, make a time delta range that has five periods with a 1 hour 45 minute interval.

In [22]:
pd.timedelta_range(0, periods=5, freq='1H45T')

TimedeltaIndex(['00:00:00', '01:45:00', '03:30:00', '05:15:00', '07:00:00'], dtype='timedelta64[ns]', freq='105T')

### Exercise 5:

Using the pandas library, create a time delta range with 20 business days starting from today's date.

In [23]:
from pandas.tseries.offsets import BDay

pd.date_range('2019-05-30', periods=20, freq=BDay())

DatetimeIndex(['2019-05-30', '2019-05-31', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-10',
               '2019-06-11', '2019-06-12', '2019-06-13', '2019-06-14',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20',
               '2019-06-21', '2019-06-24', '2019-06-25', '2019-06-26'],
              dtype='datetime64[ns]', freq='B')

### Exercise 6:

From [this link](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets), download the "smalltravel.csv" file and upload it to your datasets folder. Import the traveltime_s.csv file into a dataframe. Resample the average speed column by week using the mean, and plot the graph. 

**Tip**: You do not need to add the line style in the plot code.

In [30]:
df = pd.read_csv('datasets/smalltravel.csv')
df.head

<bound method NDFrame.head of            Date GoingTo  AvgSpeed  MovingTime
0    2012-01-06    Home      78.3        36.3
1    2012-01-06     GSK      81.8        34.9
2    2012-01-04    Home      82.0        35.9
3    2012-01-04     GSK      74.2        35.6
4    2012-01-03    Home      83.4        34.8
5    2012-01-03     GSK      84.5        35.0
6    2012-01-02    Home      82.9        35.3
7    2012-01-02     GSK      77.5        34.3
8    2011-12-23     GSK      80.9        36.0
9    2011-12-22    Home      70.6        39.3
10   2011-12-22     GSK      74.0        36.2
11   2011-12-21     GSK      71.7        39.4
12   2011-12-20    Home      75.2        37.3
13   2011-12-20     GSK      77.4        35.9
14   2011-12-19    Home      77.5        36.7
15   2011-12-19     GSK      76.5        35.5
16   2011-12-16    Home      86.9        33.8
17   2011-12-16     GSK      71.1        36.7
18   2011-12-15    Home      80.5        36.1
19   2011-12-15     GSK      68.1        40.9
20   2011-12-14    Home      75.1        38.6
21   2011-12-14     GSK      76.6        37.5
22   2011-12-13    Home      74.8        37.2
23   2011-12-13     GSK      65.4        39.8
24   2011-12-12     GSK      65.7        39.7
25   2011-12-09    Home      87.3        34.0
26   2011-12-09     GSK      74.0        40.1
27   2011-12-08    Home      74.6        37.6
28   2011-12-08     GSK      76.5        36.7
29   2011-12-07    Home      79.9        35.8
..          ...     ...       ...         ...
175  2011-08-05    Home      74.5        37.7
176  2011-08-05     GSK      74.1        36.9
177  2011-08-04    Home      70.3        38.9
178  2011-08-04     GSK      71.5        38.2
179  2011-08-03    Home      72.2        39.4
180  2011-08-03     GSK      71.5        37.4
181  2011-08-02    Home      76.3        36.9
182  2011-08-02     GSK      68.8        40.7
183  2011-07-29    Home     107.7        27.6
184  2011-07-29     GSK      73.2        37.9
185  2011-07-28    Home      76.0        36.2
186  2011-07-28     GSK      69.1        40.3
187  2011-07-27    Home      68.3        42.6
188  2011-07-27     GSK      70.4        37.6
189  2011-07-26    Home      43.7        59.8
190  2011-07-26     GSK      71.9        38.4
191  2011-07-25    Home      70.4        38.9
192  2011-07-25     GSK      63.4        37.0
193  2011-07-22    Home      75.8        37.6
194  2011-07-22     GSK      88.9        31.7
195  2011-07-21     GSK      81.5        32.6
196  2011-07-20    Home      58.6        45.2
197  2011-07-20     GSK      75.7        33.3
198  2011-07-19    Home      92.2        29.9
199  2011-07-19     GSK      82.3        31.7
200  2011-07-18     GSK      49.9        39.7
201  2011-07-14     GSK      76.2        32.1
202  2011-07-13    Home      57.5        40.6
203  2011-07-12    Home      61.6        36.5
204  2011-07-11    Home      62.8        33.6

[205 rows x 4 columns]>

In [31]:
index = pd.DatetimeIndex(['2011-07-11':'2012-01-06'])

df = pd.Series([0,1,2,3], index=index) #a series is a singular column from a dataframe
df

SyntaxError: invalid syntax (<ipython-input-31-52476b8d9f1e>, line 1)

In [26]:
#weekly = df['AvgSpeed'].resample('W').mean()
#weekly.plot
#plt.ylabel('Weekly Average Speed')

### Exercise 7:

Using the dataframe from the previous exercise, write code to group the moving time column by day of the week, then plot the graph.

**Tip**: The index list only needs to contain the weekdays. You do not need to add the line style in the plot code.